<%- include("../partials/header") %>
<div class="p-5 bg-olive">
    <div class="px-0 px-sm-4 px-lg-5">
        <div class="row bg-light-olive p-4 m-0 rounded-top">
            <div class="col-lg-4">
                <img class="img-fluid mx-auto d-block rounded" src="<%= recipe.image %>" alt="">
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0">
                <h1><%= recipe.title %></h1>
                <div class="mt-3">
                    <span class="mr-5 mb-2 nobr d-block d-md-inline">
                        <span class="text-success">
                            <i class="fas fa-clock"></i>
                            <b>Prep </b>
                        </span>
                        <%= recipe.prepTime %>
                    </span>
                    <span class="mr-5 mb-2 nobr d-block d-md-inline">
                        <span class="text-warning">
                            <i class="far fa-clock"></i>
                            <b>Cook </b>
                        </span>
                        <%= recipe.cookTime %>
                    </span>
                    <span class="nobr d-block d-md-inline">
                        <span class="text-primary">
                            <i class="fas fa-user-friends"></i>
                            <b>Serves </b>
                        </span>
                        <%= recipe.serves %>
                    </span>
                </div>
                <div class="mt-3">
                    <%= recipe.description %>
                    <div class="mt-3">
                        <div class="mb-2"><strong>Created by <em><%= recipe.author.username %></em> - <%= recipe.createdAt.toDateString() %></strong></div>
                        <% if(currentUser && recipe.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-sm btn-warning mr-2" href="/recipes/<%= recipe._id %>/edit"><i class="far fa-edit"></i> edit</a>
                            <form class="d-inline" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> delete</button>
                            </form>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>


        <div class="row bg-white p-4 m-0 rounded-bottom">
            <div class="col-lg-4">
                <h3>Ingredients</h3>
                <ul class="ingredients-list">
                    <%- recipe.ingredients %>
                </ul>
            </div>
            <div class="col-lg-5 mt-4 mt-lg-0 px-3 px-lg-5">    
                <h3>Method</h3>
                <div>
                    <%- recipe.method %>
                </div>
            </div>
            <div class="col-lg-3 mt-4 mt-lg-0"> 
                <h3 class="text-right">Comments</h3>
                <hr class="rule">
                <div class="card-body text-right px-0 pt-0 pb-3">
                    <a class="btn btn-sm btn-info m-0" href="/recipes/<%= recipe._id %>/comments/new">Add comment</a>
                </div>
                <div class="card">
                    <% recipe.comments.forEach((item) => { %>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <h6 class="card-title mb-0"><i class="fas fa-user-circle"></i> <%= item.author.username %></h6>
                                    <div><em><%= moment(item.createdAt).fromNow() %></em></div>
                                    <hr class="my-2">
                                </div>
                                <p class="card-text"><%= item.text %></p>
                                <% if(currentUser && currentUser.username == item.author.username){ %>
                                    <a class="btn btn-sm btn-warning mb-2 mr-2" href="/recipes/<%= recipe._id %>/comments/<%= item._id %>/edit"><i class="far fa-edit"></i> edit</a>
                                    <form class="d-inline" action="/recipes/<%= recipe._id %>/comments/<%= item._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger mb-2"><i class="fas fa-trash-alt"></i> delete</button>
                                    </form>
                                <% } %>
                            </li>
                        </ul>
                    <% }) %>
                </div>
            </div>    
        </div>
    </div>  
</div>
<%- include("../partials/footer") %>